.menu {
    text-align: center;
    margin-top: 20px;
}

.menu-button {
    background-color: #35424a;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-button:hover {
    background-color: #2b363d;
}